In [ ]:
listed = [1, 2, 3, 4, 5]
listed

[1, 2, 3, 4, 5]

In [ ]:
text = "Hello I am an object"

In [ ]:
def summation(a, b):
  return a + b

print(type(summation))

<class 'function'>

In [ ]:
class Person():
  name = "Joey"
  surname = "Aniston"
  age = 23
  gender = "Male"

In [ ]:
person = Person()

In [ ]:
print(person.name)
print(person.surname)
print(person.age)
print(person.gender)

Joey
Aniston
23
Male

In [ ]:
class Person():
  def __init__(self, name, surname, age, gender):
    self.name = name
    self.surname = surname
    self.age = age
    self.gender = gender

In [ ]:
person2 = Person("Joey", "Aniston", 23, "male")

In [ ]:
print(person2.name)
print(person2.surname)
print(person2.age)
print(person2.gender)

Joey
Aniston
23
male

In [ ]:
type(list1) # list1 is actually a list object.

list

In [ ]:
def summation(a, b):
  return a + b

type(summation) # the function is also a object in programming world

function

In [ ]:
class MyCompany():
  company_name = "Dark Blue"
  foundation_year = 2020
  founder_name = "John Doe"
  number_of_department = 5
  sector = "Healthcare"

In [ ]:
myObject = MyCompany()

In [ ]:
print(myObject.company_name)
print(myObject.foundation_year)
print(myObject.founder_name)
print(myObject.number_of_department)

Dark Blue
2020
John Doe
5

In [1]:
class MyCompany():
  def __init__(self, company_name, foundation_year, founder_name, number_of_department, sector):
    self.company_name = company_name
    self.foundation_year = foundation_year
    self.founder_name = founder_name
    self.number_of_deparment = number_of_department
    self.sector = sector

In [ ]:
mycompany = MyCompany("Dark Blue", 2020, "John Doe", 5, "Healthcare")
print(mycompany.company_name)
print(mycompany.foundation_year)
print(mycompany.founder_name)
print(mycompany.number_of_department)
print(mycompany.sector)

In [ ]:
mycompany = MyCompany("Red White", 2002, "Michael Jackson ", 4, "Banking")
print(mycompany.company_name)
print(mycompany.foundation_year)
print(mycompany.founder_name)
print(mycompany.number_of_department)
print(mycompany.sector)

In [ ]:
print(car1.model)
print(car1.color)
print(car1.hp)
print(car1.steamroller)

Audi
Green
180
4

In [ ]:
class Car():
  brand = "Mercedes"
  color = "Blue"
  production_year = 2020
  steamroller = 4

In [ ]:
class Car():
  brand = "Audi"
  color = "Blue"
  production_year = 2020
  steamroller = 4

In [ ]:
dir(car1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'color',
 'hp',
 'model',
 'steamroller']

In [ ]:
class Car():
  def __init__(self):
    print("the function is working...")

In [ ]:
car3 = Car() # as you see, the function is working automatically

the function is working...

In [ ]:
class Car():
  def __init__(self, brand, color, production_year, steamroller):
    self.brand = brand
    self.color = color
    self.production_year = production_year
    self.steamroller = steamroller

In [ ]:
car1 = Car("Audi", "Green", 180, 4)

the function is working and the attributes has been created.

In [ ]:
print(car1.model)
print(car1.color)
print(car1.hp)
print(car1.steamroller)

Audi
Green
180
4

In [ ]:
car2 = Car("Opel", "Red", 120, 4)

the function is working and the attributes has been created.

In [ ]:
print(car2.model)
print(car2.color)
print(car2.hp)
print(car2.steamroller)

Opel
Red
120
4

# Methods

We want to create the properties that this class has.

In [ ]:
class Employee():
  def __init__(self, name, surname, age, salary, title):
    self.name = name
    self.surname = surname
    self.age = age
    self.salary = salary
    self.title = title
  
  def get_information(self):
    print("""
    Name: {}
    Surname: {}
    Age: {}
    Salary: {}
    Title: {}
    """.format(self.name, self.surname, self.age, self.salary, self.title))
  
  def change_title(self, title):
    self.title = title
    print("The new title is {}".format(self.title))

  def increase_salary(self, increase_rate):
    self.salary += self.salary * increase_rate
    print("The new salary is {}".format(self.salary))

In [ ]:
employee = Employee('John', 'Doe', 27, 3000, 'Finance Spealist')
employee.get_information()

    Name: John
    Surname: Doe
    Age: 27
    Salary: 3000
    Title: Finance Spealist

In [ ]:
employee.change_title('Finance Expert')
employee.increase_salary(0.4)
employee.get_information()

The new title is Finance Expert
The new salary is 4200.0

    Name: John
    Surname: Doe
    Age: 27
    Salary: 4200.0
    Title: Finance Expert

# Inheritance

In [ ]:
class Manager(Employee):
  pass

In [ ]:
manager = Manager("Jack","Denver", 34, 5000, 'CEO')
manager.get_information()

    Name: Jack
    Surname: Denver
    Age: 34
    Salary: 5000
    Title: CEO

In [ ]:
dir(manager)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age',
 'change_title',
 'get_information',
 'increase_salary',
 'name',
 'salary',
 'surname',
 'title']

In [ ]:
class Manager(Employee):
  def increase_salary_for_manager(self, ratio):
    self.salary += self.salary * ratio

In [ ]:
manager = Manager("Sacha", "Kearney", 34, 7000, "Finance Team Lead")
manager.increase_salary_for_manager(0.3)
manager.get_information()

    Name: Sacha
    Surname: Kearney
    Age: 34
    Salary: 9100.0
    Languages: ['English', 'Spanish', 'Portuguese']
    Title: Finance Team Lead

In [ ]:
class Manager(Employee):
  def __init__(self, name, surname, age, title, salary, languages):
    self.name = name 
    self.surname = surname
    self.age = age
    self.title = title
    self.salary = salary
    self.languages = languages

In [ ]:
class Manager(Employee):
  def __init__(self, name, surname, age, title, salary, languages):
    self.name = name 
    self.surname = surname
    self.age = age
    self.title = title
    self.salary = salary
    self.languages = languages

  def get_information(self):
    print("""
    Name: {}
    Surname: {}
    Age: {}
    Salary: {}
    Title: {}
    Languages: {}
    """.format(self.name, self.surname, self.age, self.salary, self.title, self.languages))

In [ ]:
manager = Manager("Sacha", "Kearney", 34, 7000, "Finance Team Lead")
manager.get_information()

TypeError: ignored

In [ ]:
manager = Manager("Sacha", "Kearney", 34, 7000, "Finance Team Lead", ['English','Portuguese', 'Spanish'])
manager.get_information()

    Name: Sacha
    Surname: Kearney
    Age: 34
    Salary: Finance Team Lead
    Title: 7000
    Languages: ['English', 'Portuguese', 'Spanish']

# "Super"

In [ ]:
class Employee():
  def __init__(self, name, surname, age, salary, title):
    self.name = name
    self.surname = surname
    self.age = age
    self.salary = salary
    self.title = title

In [ ]:
class Manager(Employee):
  def __init__(self, name, surname, age, title, salary, languages):
    self.name = name 
    self.surname = surname
    self.age = age
    self.title = title
    self.salary = salary
    self.languages = languages

In [ ]:
class Manager(Employee):
  def __init__(self, name, surname, age, title, salary, languages):
    super().__init__(name, surname, age, title, salary)
    self.languages = languages

In [ ]:
manager = Manager("Sacha", "Kearney", 34, 7000, "Finance Team Lead", ['English','Portuguese', 'Spanish'])
manager.get_information()

    Name: Sacha
    Surname: Kearney
    Age: 34
    Salary: Finance Team Lead
    Title: 7000
    Languages: ['English', 'Portuguese', 'Spanish']

# Special Methods
Special methods are a set of predefined methods in Python that you can use to enhance your classes. Because they begin and conclude with double underscores, such as __init__ or __str__, they are easily identifiable.

Pythoneer used the term "dunder methods" as a short form of "double under," as saying under-under-method-under-under grew monotonous.



In Python, these "dunders" or "special methods" are sometimes known as "magic methods." However, adopting this phrase can make things appear more sophisticated than they are—at the end of the day, they aren't "magical." These methods should be treated as if they were a standard language feature.

What kind of special methods we have? For Example;
* __init__
* __str__
* __len__

In [ ]:
class Animal():
  def __init__(self, name, age, number_of_feet):
    self.name = name
    self.age = age
    self.number_of_feet = number_of_feet

  def __str__(self):
    return "Name: {}\nAge: {}\nNumber of Feet: {}".format(self.name, self.age, self.number_of_feet)

  def __len__(self):
    return len(self.name)

In [ ]:
lion = Animal('Lion', 4, 4)
print(lion)

Name: Lion
Age: 4
Number of Feet: 4

In [ ]:
len(lion)

4

In [ ]:
listed = [1, 2, 3, 4, 5]

In [ ]:
str

Examples

In [1]:
class Employee():
    employee_name = "Ben"
    department = "sales"
    starting_year = 2020
    salary = 5000

In [2]:
myObject = Employee()

In [3]:
print(myObject.employee_name)
print(myObject.department)
print(myObject.starting_year)
print(myObject.salary)

Ben
sales
2020
5000

In [5]:
class Employee():
    def __init__(self, employee_name , department, starting_year, salary):
        self.employee_name = employee_name
        self.department = department
        self.starting_year = starting_year
        self.salary = salary

In [6]:
employee_1 = Employee("Ben", "sales", "2020", "5000")

In [7]:
print(employee_1.employee_name)
print(employee_1.department)
print(employee_1.starting_year)
print(employee_1.salary)

Ben
sales
2020
5000